.ff0 {
    font-family: sans-serif;
    visibility: hidden;
}

@font-face {
    font-family: ff1;
    src: url(f1.woff) format("woff");
}

.ff1 {
    font-family: ff1;
    line-height: 0.674805;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2;
    src: url(f2.woff) format("woff");
}

.ff2 {
    font-family: ff2;
    line-height: 0.861816;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff3;
    src: url(f3.woff) format("woff");
}

.ff3 {
    font-family: ff3;
    line-height: 0.715820;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff4;
    src: url(f4.woff) format("woff");
}

.ff4 {
    font-family: ff4;
    line-height: 0.699219;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

.m0 {
    transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
    -ms-transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
    -webkit-transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
}

.v0 {
    vertical-align: 0.000000px;
}

.ls0 {
    letter-spacing: 0.000000px;
}

.sc_ {
    text-shadow: none;
}

.sc0 {
    text-shadow: -0.015em 0 transparent, 0 0.015em transparent, 0.015em 0 transparent, 0 -0.015em transparent;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .sc_ {
        -webkit-text-stroke: 0px transparent;
    }

    .sc0 {
        -webkit-text-stroke: 0.015em transparent;
        text-shadow: none;
    }
}

.ws0 {
    word-spacing: 0.000000px;
}

._2 {
    width: 1.072565px;
}

._0 {
    width: 64.100000px;
}

._1 {
    width: 68.300000px;
}

.fc0 {
    color: rgb(255, 255, 255);
}

.fs5 {
    font-size: 60.000000px;
}

.fs4 {
    font-size: 62.000000px;
}

.fs1 {
    font-size: 72.000000px;
}

.fs3 {
    font-size: 74.000000px;
}

.fs2 {
    font-size: 144.000000px;
}

.fs0 {
    font-size: 192.000000px;
}

.y0 {
    bottom: 0.000000px;
}

.y1f {
    bottom: 98.434662px;
}

.y4 {
    bottom: 111.018776px;
}

.y1e {
    bottom: 112.834671px;
}

.y1d {
    bottom: 127.234665px;
}

.ye {
    bottom: 135.218658px;
}

.y1c {
    bottom: 141.634659px;
}

.y3 {
    bottom: 142.618774px;
}

.y1b {
    bottom: 156.034653px;
}

.yd {
    bottom: 156.818665px;
}

.y1a {
    bottom: 170.434647px;
}

.y2 {
    bottom: 174.218773px;
}

.yc {
    bottom: 178.418671px;
}

.y19 {
    bottom: 184.834641px;
}

.y18 {
    bottom: 199.234634px;
}

.yb {
    bottom: 200.018677px;
}

.y1 {
    bottom: 210.938873px;
}

.y17 {
    bottom: 213.634628px;
}

.ya {
    bottom: 221.618668px;
}

.y16 {
    bottom: 228.034622px;
}

.y9 {
    bottom: 243.218666px;
}

.y15 {
    bottom: 252.434631px;
}

.y8 {
    bottom: 264.818665px;
}

.y14 {
    bottom: 266.834633px;
}

.y24 {
    bottom: 274.363647px;
}

.y13 {
    bottom: 281.234634px;
}

.y28 {
    bottom: 285.163643px;
}

.y7 {
    bottom: 286.418663px;
}

.y12 {
    bottom: 295.634636px;
}

.y23 {
    bottom: 295.963638px;
}

.y29 {
    bottom: 296.203331px;
}

.y27 {
    bottom: 306.763641px;
}

.y6 {
    bottom: 308.018661px;
}

.y22 {
    bottom: 317.563644px;
}

.y11 {
    bottom: 320.034637px;
}

.y26 {
    bottom: 328.363640px;
}

.y10 {
    bottom: 334.434635px;
}

.y21 {
    bottom: 339.163639px;
}

.yf {
    bottom: 348.834635px;
}

.y25 {
    bottom: 349.963638px;
}

.y20 {
    bottom: 360.763638px;
}

.y5 {
    bottom: 422.570660px;
}

.h6 {
    height: 41.015625px;
}

.h5 {
    height: 44.380859px;
}

.h2 {
    height: 49.218750px;
}

.h4 {
    height: 52.970703px;
}

.h3 {
    height: 95.976562px;
}

.h7 {
    height: 100.687500px;
}

.h1 {
    height: 127.968750px;
}

.h0 {
    height: 540.000000px;
}

.w0 {
    width: 960.000000px;
}

.x0 {
    left: 0.000000px;
}

.x5 {
    left: 61.200104px;
}

.x6 {
    left: 83.700104px;
}

.x7 {
    left: 88.324982px;
}

.x1 {
    left: 385.292267px;
}

.x4 {
    left: 768.744354px;
}

.x2 {
    left: 799.259979px;
}

.x3 {
    left: 821.575409px;
}

@media print {
    .v0 {
        vertical-align: 0.000000pt;
    }

    .ls0 {
        letter-spacing: 0.000000pt;
    }

    .ws0 {
        word-spacing: 0.000000pt;
    }

    ._2 {
        width: 1.430087pt;
    }

    ._0 {
        width: 85.466667pt;
    }

    ._1 {
        width: 91.066667pt;
    }

    .fs5 {
        font-size: 80.000000pt;
    }

    .fs4 {
        font-size: 82.666667pt;
    }

    .fs1 {
        font-size: 96.000000pt;
    }

    .fs3 {
        font-size: 98.666667pt;
    }

    .fs2 {
        font-size: 192.000000pt;
    }

    .fs0 {
        font-size: 256.000000pt;
    }

    .y0 {
        bottom: 0.000000pt;
    }

    .y1f {
        bottom: 131.246216pt;
    }

    .y4 {
        bottom: 148.025035pt;
    }

    .y1e {
        bottom: 150.446228pt;
    }

    .y1d {
        bottom: 169.646220pt;
    }

    .ye {
        bottom: 180.291545pt;
    }

    .y1c {
        bottom: 188.846212pt;
    }

    .y3 {
        bottom: 190.158366pt;
    }

    .y1b {
        bottom: 208.046204pt;
    }

    .yd {
        bottom: 209.091553pt;
    }

    .y1a {
        bottom: 227.246195pt;
    }

    .y2 {
        bottom: 232.291697pt;
    }

    .yc {
        bottom: 237.891561pt;
    }

    .y19 {
        bottom: 246.446187pt;
    }

    .y18 {
        bottom: 265.646179pt;
    }

    .yb {
        bottom: 266.691569pt;
    }

    .y1 {
        bottom: 281.251831pt;
    }

    .y17 {
        bottom: 284.846171pt;
    }

    .ya {
        bottom: 295.491557pt;
    }

    .y16 {
        bottom: 304.046163pt;
    }

    .y9 {
        bottom: 324.291555pt;
    }

    .y15 {
        bottom: 336.579508pt;
    }

    .y8 {
        bottom: 353.091553pt;
    }

    .y14 {
        bottom: 355.779510pt;
    }

    .y24 {
        bottom: 365.818197pt;
    }

    .y13 {
        bottom: 374.979513pt;
    }

    .y28 {
        bottom: 380.218191pt;
    }

    .y7 {
        bottom: 381.891551pt;
    }

    .y12 {
        bottom: 394.179515pt;
    }

    .y23 {
        bottom: 394.618184pt;
    }

    .y29 {
        bottom: 394.937775pt;
    }

    .y27 {
        bottom: 409.018188pt;
    }

    .y6 {
        bottom: 410.691549pt;
    }

    .y22 {
        bottom: 423.418193pt;
    }

    .y11 {
        bottom: 426.712850pt;
    }

    .y26 {
        bottom: 437.818186pt;
    }

    .y10 {
        bottom: 445.912847pt;
    }

    .y21 {
        bottom: 452.218185pt;
    }

    .yf {
        bottom: 465.112846pt;
    }

    .y25 {
        bottom: 466.618184pt;
    }

    .y20 {
        bottom: 481.018183pt;
    }

    .y5 {
        bottom: 563.427546pt;
    }

    .h6 {
        height: 54.687500pt;
    }

    .h5 {
        height: 59.174479pt;
    }

    .h2 {
        height: 65.625000pt;
    }

    .h4 {
        height: 70.627604pt;
    }

    .h3 {
        height: 127.968750pt;
    }

    .h7 {
        height: 134.250000pt;
    }

    .h1 {
        height: 170.625000pt;
    }

    .h0 {
        height: 720.000000pt;
    }

    .w0 {
        width: 1280.000000pt;
    }

    .x0 {
        left: 0.000000pt;
    }

    .x5 {
        left: 81.600138pt;
    }

    .x6 {
        left: 111.600138pt;
    }

    .x7 {
        left: 117.766642pt;
    }

    .x1 {
        left: 513.723022pt;
    }

    .x4 {
        left: 1024.992472pt;
    }

    .x2 {
        left: 1065.679972pt;
    }

    .x3 {
        left: 1095.433879pt;
    }
}
